table {
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

input {
    padding: 5px;
    width: 80%;
    text-align:center;
}
button{
    background-color: blue;
    border-radius: 3px;
    border: 0px solid;
    color: white;
    padding: 5px;
    width: 15%;
    margin-top:10px;
}

#calculateGPA{
    margin: auto;
    width: 50%;
    margin-top:10px;
}
footer{
    position:relative;
    bottom:2px;
}